@import "vars"
@import "fonts"
@import "libs"
@import "animations"
// Critical css
::placeholder
  color: #7c7c7c
::selection
  color: #fff
input, textarea
  outline: none
  &:focus
    color: #7c7c7c
*
  margin: 0
  padding: 0
button
  @include reset-button
a,button,input
  cursor: pointer
a
  text-decoration: none
  color: #fff
a:hover
  color: $brown
body
  min-width: 320px
  max-width: 1980px
  width: 100%
  margin: 0 auto
  position: relative
  overflow-x: hidden
  color: #000
  background-color: #eaeaea
  font-family: 'SeroPro', sans-serif
  font-style: normal
  @include font(400,15px,1.20)
img,iframe
  max-width: 100%
  height: auto
h2
  font-weight: bold
  font-size: 35px
#header,#main,#footer
  overflow: hidden
// containers
.container
  max-width: 1190px
  margin: 0 auto
.grid-container
  display: grid
  justify-content: space-between
.flex-container
  display: flex
  justify-content: space-between
/*Header*/
#header
  background: url('../img/_src/body/slider-home/slider-cosmetics.png') no-repeat top center
  background-size: cover
  padding: 30px 0 60px 0
.header-bg-mebel
  background: url('../img/_src/body/slider-home/slider-mebel-bg.png') no-repeat top center !important
  background-size: 100% 100%
.header-bg-ob
  background: url('../img/_src/body/slider-home/slider-ob-bg.png') no-repeat top center !important
  background-size: 100% 100%
.logo-img
  margin-right: 17px
.logo-text-container
  padding-left: 17px
  border-left: 1px solid #fff
  max-height: 43px
.logo-text
  display: block
  color: $white
  font-weight: 500
  text-transform: uppercase
  font-size: 15px
  line-height: 15px
/* Header Nav */
.toggleNav
  display: none
.header-nav
  @include list-type-none
  .header-nav-item
    position: relative
    text-align: center
    height: 43px
    margin-right: 5px
  .header-nav-item.active-sub
    position: relative
  .header-nav-item.active-sub>a::after
    content: '▼'
    color: $white
    font-size: 10px
    margin-left: 20px
  .header-nav-item.active-sub>a:hover::after
    content: '▼'
    color: $brown
    font-size: 10px
    margin-left: 20px
  .header-nav-item.active-sub:hover
    background-color: #412f2bf2
    border-radius: 25px
  .header-nav-item.active-sub:hover .header-submenu
    display: block
  .header-nav-item a
    padding: 0 25px
    font-weight: bold
    display: block
    text-align: center
    font-size: 15px
    line-height: 43px
  .header-nav-item a:hover
    color: $brown
.header-submenu
  display: none
  position: absolute
  @include list-type-none
  width: 214px
  padding-top: 10px
  .header-submenu-item
    position: relative
    .header-submenu
      right: -214px
      padding-top: 0
      top: 0
  .header-submenu-item:nth-of-type(even)
    border-bottom: 1px solid #000
    border-top: 1px solid #000
  .header-submenu-item a
    font-weight: normal
    text-align: left
    line-height: normal
    padding: 20px
    background-color: #d28c3fed
    position: relative
  .header-submenu-item a::after
    content: ''
  .header-submenu-item a:hover
    background-color: #000000
    color: $white
  .header-submenu-item.active-sub a::after,.header-submenu-item.active-sub a:hover::after
    content: '>'
    position: absolute
    top: 40%
    right: 20px
    font-weight: bold
    font-size: 11px
    color: $white
  .header-submenu
    display: none
/* Header Buttons*/
.header-btn
  display: block
  height: 45px
  width: 45px
  border-radius: 50%
  margin-top: -3px
.header-btn:first-of-type
  margin-right: 46px
.header-btn.header-cart
  background: url('../img/icons/cart.png') no-repeat center $white
.header-btn.header-lock
  background: url('../img/icons/lock.png') no-repeat center $white
/* Multilang */
.multi-lang
  @include list-type-none
  margin-top: 11px
  margin-left: 25px
  margin-right: 22px
.multi-lang-item
  display: none
  a
    display: block
.multi-lang-item.active
  display: block
  position: relative
.multi-lang-item.active a::after
  content: '▼'
  color: $white
  font-size: 10px
  margin-left: 10px
/* Header Buttom */
.header-bottom
  margin-top: 160px
.banner
  width: 280px
  height: 460px
  background: url('../img/_src/body/slider-home/frame-slider.png') no-repeat
  background-size: 100% 100%
  padding-left: 15px
  margin-right: 18px
.banner-title
  font-family: 'Designosaur'
  font-style: normal
  font-size: 18px
  color: $white
.header-banner-title
  margin-top: 150px
.btn-more
  display: block
  width: 165px
  height: 55px
  line-height: 55px
  text-align: center
  color: #000
  font-weight: bold
  background-color: $white
  border-radius: 25px
  margin-top: 65px
  font-size: 15px
.btn-more:hover
  color: $brown
/* Video Slider */
.video-slider
  margin-top: 340px
  max-width: 756px
  .slick-list
    margin-left: 70px
  .video-slider-item
    margin-right: 20px
    iframe,img
      border-radius: 15px
      height: 117px
  .video-slider-left,.video-slider-right
    position: absolute
    display: block
    top: 38%
    font-size: 30px
    background-color: transparent
    color: #000
  .video-slider-left
    left: 4px
  .video-slider-right
    right: -20px
//Catalog
.catalog-home-nav
  justify-content: flex-start
  @include list-type-none
  margin-top: 5px
.catalog-home-nav-item
  height: 350px
  width: calc(100%/3)
  display: flex
  align-items: center
  background: url("../img/_src/body/catalog-home/catalog-item-bg.jpg") no-repeat
  a
    display: block
    width: 100%
  img
    display: block
    margin: 80px auto 42px auto
.catalog-home-nav-item.active
  background: url("../img/_src/body/catalog-home/catalog-border.png") no-repeat $white
  background-size: 88% 90%
  background-position: center
.catalog-nav-title
  font-size: 20px
  text-align: center
  max-width: 225px
  margin: 0 auto
/* Catalog Banner */
.catalog-banner,.catalog-hit
  background: url('../img/_src/body/catalog-home/catalog-bg.jpg')
  padding: 0 15px
.catalog-title
  padding-top: 50px
  margin-bottom: 38px
.catalog-banner-container
  background: url('../img/_src/body/catalog-home/catalog-banner.jpg') no-repeat
  background-size: cover
  height: 175px
.catalog-banner-more
  font-weight: bold
  color: $white
  display: block
  background-color: #ee3364
  width: 140px
  height: 45px
  border-radius: 5px
  text-align: center
  line-height: 50px
  margin-left: 132px
  margin-top: 40px
.catalog-banner-item:first-of-type
  .catalog-banner-subtitle
    font-size: 25px
    font-weight: bold
    color: $white
    margin-left: 175px
    margin-top: 10px
    text-transform: uppercase
.catalog-banner-item:last-of-type
  width: 320px
  height: 120px
  background-color: #c59a5bcc
  border-radius: 10px
  margin-top: 25px
  margin-right: 98px
  .catalog-banner-subtitle
    margin: 20px 0 8px 40px
    color: $white
    font-size: 24px
  .catalog-banner-text
    margin-left: 40px
/* Catalog Hit */
.catalog-hit
  padding-bottom: 75px
  position: relative
  .catalog-title
    margin-left: 20px
.catalog-hit::after
  content: ''
  display: block
  width: 25px
  height: 20px
  background: url("../img/_src/body/catalog-home/figure-bg.png") no-repeat
  background-size: 100%
  position: absolute
  right: 20px
  top: 60px
.catalog-list-hit
  @include list-type-none
.hit-list-item
  width: 180px
  height: 180px
  background: url('../img/_src/body/catalog-home/catalog-hit-border.png') no-repeat
  background-size: cover
  position: relative
  img
    display: block
    margin: 0 auto
    margin-top: 18px
.hit-list-item:hover .hit-list-item-buy
  display: block
.hit-list-item-buy
  display: none
  width: 100px
  height: 100px
  background-color: #b8723ed9
  border-radius: 50%
  position: absolute
  top: 40px
  left: 40px
  overflow: hidden
  .hit-buy-cart,.hit-buy-more
    display: block
    height: 50%
  .hit-buy-cart
    background: url('../img/icons/cart.png') no-repeat center $white
    background-size: 20px
  .hit-buy-more
    text-transform: lowercase
    text-align: center
    line-height: 45px
.hit-list-text
  @include list-type-none
  margin-top: 25px
.hit-list-text-item
  width: 180px
  position: absolute
  bottom: -52px
.hit-title
  text-align: center
/* Advantages */
.advantages
  background: url('../img/_src/body/advantages-home/advantages-top-bg.png') no-repeat
  background-size: 100%
  background-position: -4px 16px
  padding-top: 1px
  position: relative
.advantages-top
  max-width: 1225px
  margin: 0 auto
.advantages-title
  margin: 83px 0 0 50%
  color: #000
.advantages-subtext
  max-width: 300px
  margin-left: 51%
  font-weight: bold
  margin-top: 25px
.advantages-bottom
  background: url('../img/_src/body/advantages-home/advantages-bottom-bg.png') no-repeat top center
  background-size: 100%
  margin-top: -70px
  padding-top: 1px
  height: 1425px
.advantages-list
  width: 590px
  flex-wrap: wrap
  @include list-type-none
  margin-top: 368px
  margin-left: 18%
  justify-content: flex-start
.advantages-list-item
  margin-bottom: 43px
  margin-right: 25px
  width: 165px
  .advantages-text
    display: block
    text-align: center
    color: $white
    font-weight: bold
    margin-top: 10px
  .advantages-list-img
    height: 165px
    background: url('../img/_src/body/advantages-home/advantages-item-border.png') no-repeat
    background-size: 100%
    display: flex
    align-items: center
  img
    display: block
    margin: 0 auto
.advantages-list-item:nth-of-type(3)
  display: block
  background: none
  .advantages-info
    color: #fff
    font-weight: bold
    padding-top: 45px
    font-size: 25px
    display: block
.advantages-banner
  max-width: 750px
  margin-left: 113px
  height: 230px
  background: url('../img/_src/body/advantages-home/advantages-border.png') no-repeat #000000b8
  background-size: 95%
  background-position: center
  .advantages-text
    color: $white
    font-weight: bold
    font-size: 20px
    width: 65%
    padding: 75px 140px
.advantages-titles-container
  position: absolute
  top: 475px
  right: -94px
  transform: rotate(-90deg)
  .advantages-titles
    font-family: 'Designosaur'
    font-size: 140px
    font-weight: normal
    text-transform: uppercase
    padding: 0
    margin: 0
    .color-one
      color: #f9bf7f
    .color-two
      color: #954f3b
      font-weight: normal
  .advantages-subtitles
    font-family: Designosaur
    font-style: italic
    text-align: right
    font-size: 77px
    letter-spacing: 21px
    font-weight: 400
    margin-top: -35px
/* About */
.about
  background: url('../img/_src/body/about-home/about-bg.png') no-repeat
  background-size: cover
  height: 847px
  position: relative
  top: -243px
  display: flex
  flex-direction: column
  justify-content: flex-end
  padding-bottom: 100px
.about-list,.about-list ul
  @include list-type-none
.about-list
  padding: 0 15px
.about-list-item:nth-of-type(2)
  margin: 0 30px
.about-list-title
  font-size: 25px
  height: 59px
.about-list-subtitle
  margin-top: 14px
.about-list-submenu
  margin-top: 18px
/* Filials */
.filials
  position: relative
  top: -153px
  .flex-container
    padding: 0 14px
.filials-countries-link
  color: #a87060
  text-decoration: underline
  margin-top: 8px
  margin-right: 5px
.filials-countries
  @include  list-type-none
  margin: 7px 10px 0
.filials-countries-item
  width: 37px
  height: 40px
  margin-right: 12px
.filials-countries-item.korea
  background: url('../img/_src/body/filials-home/filial-icon-2.png') no-repeat
  background-size: cover
.filials-countries-item.china
  background: url('../img/_src/body/filials-home/filial-icon-3.png') no-repeat
  background-size: cover
.filials-countries-item.russia
  background: url('../img/_src/body/filials-home/filial-icon-4.png') no-repeat
  background-size: cover
.filials-countries-item.america
  background: url('../img/_src/body/filials-home/filial-icon-5.png') no-repeat
  background-size: cover
.filials-countries-map
  margin-top: -15px
/* Filials Map */
.filial-map
  background: url('../img/_src/body/filials-home/filial map.png') no-repeat
  background-size: 100%
  height: 733px
  margin-top: -59px
  padding-top: 1px
.filial-banner
  margin: 265px 0 0 84px
  width: 305px
  padding-top: 1px
  .btn-more
    margin: 60px 0 0 14px
.filial-banner.banner
  height: 473px
.filial-banner-text
  color: $white
  margin-left: 14px
  font-size: 20px
.filial-banner-text-address
  margin-top: 137px
  font-weight: bold
.filial-banner-text-call
  margin-top: 40px
/* Footer */
#footer
  background: url('../img/_src/footer/footer-bg.png') no-repeat top center
  height: 480px
  background-size: 100% 100%
  margin-top: -337px
  .container
    margin-top: 300px
    color: $white
.footer-item:first-of-type
  margin-left: 111px
  a
    display: block
    margin-top: 23px
    font-size: 25px
.social-title
  font-size: 15px
.footer-item:last-of-type
  margin-right: 44px
.social
  @include list-type-none
.social-item
  height: 60px
  width: 60px
  margin-top: 4px
  a
    display: block
    height: 100%
    width: 100%
.social-item.instagram
  background: url('../img/_src/footer/inst-icon.png') no-repeat center
  background-size: cover
.social-item.facebook
  background: url('../img/_src/footer/fb-icon.png') no-repeat center
  background-size: cover
.social-item.odnoclassniki
  background: url('../img/_src/footer/od-icon.png') no-repeat center
  background-size: cover
.social-item.vk
  background: url('../img/_src/footer/vk-icon.png') no-repeat center
  background-size: cover
.copyright
  margin-top: 30px

/*Product Catalog */
#header.product-catalog-header
  background-image: url("../img/_src/header/header-bg-tovar.png")
  padding-bottom: 27px
#footer.product-catalog-footer
  margin-top: -127px
.product-catalog-header
  .logo-text-container
    border-color: #000
  .logo-text
    color: #000
.breadcrumbs
  justify-content: flex-start
  margin-top: 60px
  @include list-type-none
  padding-left: 29px
  a
    color: #a87060
.breadcrumbs-item::after
  content: '/'
  color: #a87060
  margin: 0 8px
.breadcrumbs-item.active::after
  content: ''
.breadcrumbs-item.active
  a
    color: #bdbdbd
.page-title
  margin-top: 17px
  padding-left: 30px
  font-size: 35px
/* Catalog */
.product-catalog
  flex-wrap: wrap
  justify-content: flex-start
  @include list-type-none
.product-catalog-item
  position: relative
  margin: 0px 2px 2px 0
  width: 33%
  .product-catalog-title
    position: absolute
    bottom: 56px
    left: 31px
    font-size: 15px
    font-weight: normal
  .article
    position: absolute
    left: 31px
    bottom: 36px
.product-catalog-item.more
  background: url('../img/_src/body/catalog-home/catalog-item-bg.jpg') no-repeat center
  background-size: cover
  display: flex
  align-items: center
  justify-content: center
  a
    text-decoration: underline
    text-align: center
.product-catalog-img
  max-height: 384px
  img
    width: 100%
.product-header
  position: absolute
  top: 16px
  width: 100%
  justify-content: flex-end
  .header-btn:first-of-type
    margin-right: 10px
  .header-btn:last-of-type
    margin-right: 10px
.header-btn.header-wish
  background: url('../img/icons/like.png') no-repeat $white center
.catalog-product-container .catalog-hit
  padding: 0
  min-height: 434px
  .catalog-list-hit
    padding: 0 20px
  .catalog-title
    font-size: 25px
    padding-top: 68px
    margin-left: 32px
  .hit-list-item
    img
      margin-top: 30px
@import "media" // Always at the end
